
/*body{*/
    /*width: 80%;*/
    /*margin: 0 auto;*/
/*}*/
/*Саша зачем поставил ширину для body?? вся верстка поплыла, достаточно того,что мы основным div задаем класс container, который делает ширину 80%*/

#header{
    height: 310px;
    background: url("img/header.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#nav{
    width: 100%;
    height: 32px;
    background: #424242;
}

.sot_set{
    width: 49%;
    height: 32px;
    line-height: 32px;
    padding-left: 15px;
    color: #ffffff;
    float: left;
}

.sot_set p{
    display: block;
    float: left;
    text-transform: uppercase;
}

.sot_set img{
    display: block;
    width: 21px;
    float: left;
    margin: 5.5px;

}

.seadge_a{
    width: 49%;
    float: left;
    position: relative;
}

.seadge_a input{
    height: 18px;
    width: 113px;
    position: absolute;
    right: 0;
    top: 6px;
}

#top_menu{
    width: 100%;
    position: absolute;
    height: 46px;
    bottom: 0;
    background: #000;
    color: #ffffff;

}

#menu_a li{
    display: block;
    float: left;
    padding:  10px;
    text-transform: uppercase;
}












.alex{
    height: 300px;
    width: 100%;
    background: #8bc55e;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
}

.kety{
    height: 300px;
    width: 100%;
    background: #c5706a;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
}

.max{
    height: 300px;
    width: 100%;
    background: #6073c5;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
}
/*=====================================================================*/
/*=============styles Katya====== posts, adv blocks, authors==========*/
/*===================================================================*/

.margin-top-40{
    margin-top: 40px;
}

.margin-bot-40{
    margin-bottom: 40px;
}

.margin-bot-16{
    margin-bottom: 16px;
}

.pink{
    color: #ff008a;
}
.adv-block-upper{
    width: 100%;
    height: 331px;
    background-color: #000;
    margin-bottom: 16px;
}

.adv-block-lower{
    width: 100%;
    height: 228px;
    background-color: #000;
}


.post-image img, img.post-image{
    display: block;
    width: 100%;
}

h3.post-title{
    text-transform: uppercase;
    font-size: 22px;
    font-family: impact;
    margin-bottom: 5px;
    margin-top: 0;
}

span.persona{
    font-family: verdana;
    text-transform: uppercase;
    color: #979596;
    font-size: 14px;

}

p.post-content{
    margin-top: 30px;
    margin-bottom: 16px;
    font-size: 14px;
    font-family: Verdana;
}

a.read-more{
    display: block;
    text-align: right;
    color: #ff008a;
    text-decoration: none;
    font-size: 14px;
}

/* block authors*/

#authors{
    background-color: #424242;
}
.best-authors{
    font-family: Arial;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 150%;

}
.author-pic{
    display: block;
    margin: 15px auto;
    background: #0d0d17;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

.white{
    color: #fff;
}

.grey{
    color: #c2c1c1;
}