
#header{
    height: 310px;
    background: url("img/header.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#nav{
    width: 100%;
    height: 32px;
    background: #424242;
}

.sot_set{
    width: 49%;
    height: 32px;
    line-height: 32px;
    padding-left: 15px;
    color: #ffffff;
    float: left;
}

.sot_set p{
    display: block;
    float: left;
    text-transform: uppercase;
}

.sot_set img{
    display: block;
    width: 21px;
    float: left;
    margin: 5.5px;

}

.seadge_a{
    width: 49%;
    float: left;
    position: relative;
}

.seadge_a input{
    height: 18px;
    width: 113px;
    position: absolute;
    right: 0;
    top: 6px;
}


#top_gobananas{
    display: block;
    width: 40%;
    margin: 50px auto;
    min-height: 35%;
}





#top_menu{
    width: 100%;
    position: absolute;
    height: 46px;
    bottom: 0;
    background: #000;


}

#menu_a{
    /*background: #979596;*/
    width: 90%;
    height: 46px;
    padding-left: 5px;
    list-style-type: none;
}



#menu_a li{
    float: left;
    text-transform: uppercase;
    display: block;
    /*background: pink;*/
    height: 46px;
    width: 14%;
}

#menu_a li a{
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s;
}


#menu_a li a:hover{
    color: #ff008a;
}


#pdf_load{
    position: absolute;
    top: 6px;
    right: 15px;
}



#short_post{
    margin-top: 20px;
}

.title_blog{
    text-transform: uppercase;
}





.kety{
    height: 300px;
    width: 100%;
    background: #c5706a;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
}

.max{
    height: 300px;
    width: 100%;
    background: #6073c5;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
}
/*=====================================================================*/
/*=============styles Katya====== posts, adv blocks, authors==========*/
/*===================================================================*/

.fixer.row{
    margin-right: 0;
    margin-left: 0;
    background-color: #424242;
}


.margin-top-40{
    margin-top: 40px;
}

.margin-bot-40{
    margin-bottom: 40px;
}

.margin-bot-16{
    margin-bottom: 16px;
}

.margin-top-16{
    margin-top: 16px;
}


.pink{
    color: #ff008a;
}
.adv-block-upper{
    width: 100%;
    height: 331px;
    background-color: #000;
    margin: 16px auto;
}

.adv-block-lower{
    width: 100%;
    height: 100px;
    background-color: #000;
    margin: 16px auto;
}


.post-image img, img.post-image{
    display: block;
    width: 100%;
}

h3.post-title{
    text-transform: uppercase;
    font-size: 22px;
    font-family: impact;
    margin-bottom: 5px;
    margin-top: 0;
}

span.persona{
    font-family: verdana;
    text-transform: uppercase;
    color: #979596;
    font-size: 14px;

}

p.post-content{
    margin-top: 30px;
    margin-bottom: 16px;
    font-size: 14px;
    font-family: Verdana;
}

a.read-more{
    display: block;
    text-align: right;
    color: #ff008a;
    text-decoration: none;
    font-size: 14px;
}

/* block authors*/

.best-authors{
    font-family: Arial;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 150%;

}
.author-pic{
    display: block;
    margin: 15px auto;
    background: #0d0d17;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

.white{
    color: #fff;
}

/*.grey{*/
    /*color: #c2c1c1;*/
/*}*/

/* Styles max */

h4 {
    font-weight: 700;
    font-family: "Arial Narrow", sans-serif;
}

.grey {
    color: #979596;
}

.mazafaka {
    background: black;
    color: #ffffff;
    margin-left: 0;
    margin-right: 0;
}

.journal {
    padding-top: 30%;
}

.journal img {
    position: absolute;
}

.sverhu {
    top: 60%;
    left: 25%;
    z-index: 5;
}

.snizu {
    top: 30%;
    left: 20%;
    z-index: 4;
}

.journTextContent {
    padding-top: 7.5%;
    padding-left: 5%;
}

/*.journTextContent div,*/
/*.journTextContent a {*/
    /*vertical-align: middle;*/
/*}*/

.contactsLinks {
    padding-top: 2%;
}

.years {
    padding-top: 2.3%;
}

.contactsLinks a,
.journTextContent a
{
    color: #ffffff;
}

.contactsLinks p>a {
    text-decoration: none;
}

.impressum {
    font-size: 0.9em;
    padding-bottom: 5%;
}

@media (max-width: 768px) {
    .mazafaka {
        position: relative;
        width: 100%;
        font-size: 1.3em;
    }

    .impressum {
        font-size: 1em;
    }

    .journal {
        padding-top: 5%;
    }

    .journal img {
        position: static;
        width: 50%;
        margin: auto;
    }

    .journTextContent {
        padding-top: 0;
        text-align: right;
    }

    .sverhu {
        top: 5%;
        left: 7%;
        z-index: 5;
    }

    .snizu {
        display: none;
    }
}

.socialNet {
    font-size: .7em;
}

.socialNet img{
    display: inline-block;
    width: 21px;
    margin: 5px;
}

#blogs {
    background-color: #f7f7f7;
}

/*contacts*/

.h3-center{
    text-transform: uppercase;
    font-size: 22px;
    font-family: impact;
    margin-top: 40px;

}

.job-desc{
    font-variant: small-caps;
}